* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.world {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar {
    position: fixed;
    left: 50%;
    top: -1px;
    background: white;
    padding: 0.5rem;
    border: 1px solid #4c1daa;
    transform: translate(-50%, 0);
    color: #4c1daa;
    flex-wrap: nowrap;
}

#toggleToolbarButton {
    position: fixed;
    left: 50%;
    top: 0;
    background: #4c1daa;
    transform: translate(-50%,0);
    width: 48px;
    height: 14px;
    cursor: pointer;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #4c1daa;
    background-image: url(/img/up-down.png);
    background-repeat: no-repeat;
    background-position: center;
}

#toggleToolbarButton:focus {
    outline: none;
    box-shadow: none;
}

.recording-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar .btn {
    border-radius: 0;
    border: 1px dashed #4c1daa;
    margin: 0 0.5rem;
}

.toolbar .btn:not(:disabled):hover {    
    border: 2px solid #4c1daa;
    margin: -1px calc(0.5rem - 1px);
}

.toolbar .btn:focus {
    outline: none;
    box-shadow: none;
}

.toolbar .btn.on {
    box-shadow: 0px 0px 6px 3px #4c1daa;
}

@keyframes blink {
  from {opacity: 1;}
  to {opacity:0;}
}

#recording.on img {
    animation: blink normal 1s infinite linear;
}

.toolbar .separator {
    background: #4c1daa;
    width: 3px;
    align-self: stretch;
    margin: 0.5rem 0;
}

.learned-iterations {
    white-space: nowrap;
    font-size: 1.2rem;
    margin: auto 0;
}

#learnedIterations {
    font-weight: 600;
}